<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Books</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <label for="txtSearch">Search:</label>
      <input
        id="txtSearch"
        type="text"
        placeholder="type here"
        v-model="searchValue"
      />
      <select v-model="selectedField">
        <option v-for="searchField of searchFields">{{ searchField }}</option>
      </select>
      <table class="my-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Read on</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in searchBooks" :key="book.title">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.year}}</td>
            <td>{{book.readOn}}</td>
            <td>{{book.notes}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="app.js"></script>
  </body>
</html>
